// Place all the styles related to the Api::Annotations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#toolTip {
    position: element(#someLargerElement);
    right: 0;
    bottom: 0;
}

// .annotation-create-update {
//   background-color: white;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   width: 15%;
// }

.annotation-body, .annotation-create-update {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15%;
  padding: 20px;
}

.annotation-body button {
  background-color: white;
  padding: 0px;
  margin: 0px;
  width: 0px;
}

.action-buttons i, .annotation-body i, .annotation-create-update i {
  color: #D74643;
}


.action-buttons i:hover, .annotation-body i:hover, .annotation-create-update i:hover{
  color: #7D2927;
}
