// Place all the styles related to the Api::Annotations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#toolTip {
    position: element(#someLargerElement);
    right: 0;
    bottom: 0;
}
