// Place all the styles related to the Api::Artworks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artwork-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121314;
  width: 100%;
}

.artwork-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.artwork-image {
  // padding-top: 20px;
  // padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // width: 60%;
  // correct?
  position: relative;
}

#artwork-img {
  max-width: 60%;
  height: auto;
}

.artwork-detail-bottom {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.artwork-detailed-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artwork-detailed-info li {
  margin: 10px 0;
  max-width: 60%;
  font-size: 18px;
}

.artwork-form-list li label {
  display: flex;
  flex-direction: column;
}

.artwork-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artwork-create {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.slick-image:hover {
  transform: scale(1.1);
}

.pointers {
  padding: 0;
  margin: 0;
  width: 0;
}
