// Place all the styles related to the Api::Artworks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

.artwork-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121010;
  width: 100%;
  flex: 1;
}

.artwork-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.artwork-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

#artwork-img {
  max-width: 60%;
  height: auto;

}

.artwork-detail-bottom {
  background-color: #F7F3F5;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.artwork-detailed-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  margin: 20px 0;
  position: relative;
}

.artwork-detailed-info li {
  margin: 5px 0;
  font-size: 18px;
}

.artwork-form-list li label {
  display: flex;
  flex-direction: column;
}

.artwork-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artwork-create {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.artwork-create label {
  padding: 5px 0;
}

.artwork-create input {
  margin: 5px 0;
}

.artwork-form-list textarea {
  border-style: solid;
  border-width: 1px;
  margin: 5px 0;
  padding-left: 5px;
}

.pointers {
  background-color: transparent;
  margin: 0;
  width: 0;
  display: none;
}

.delete-button {
  position: absolute;
  right: 8%;
  top: 0;
  margin: 0;
  width: 0;
  background-color: transparent;
  color: #D74643;
}

.artwork-image:hover .pointers {
  display: block;
}

#artwork-img:hover {
  cursor: crosshair;
}

.pointers i:hover, .delete-button i:hover {
  transform: scale(1.1);
}

.delete-button i:hover {
  color: #7D2927;
}

#uploaded-artwork {
  margin-bottom: 10px;
}
