// Place all the styles related to the Api::Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {
  width: 60%;
}

.comment-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-bottom: 5px;
}

.delete-comment i {
  color: #D74643;
}

.delete-comment i:hover {
  color: #7D2927;
}

.each-comment button {
  background-color: white;
  padding: 0px;
  margin: 0px;
  width: 0px;
}

.each-comment {
  border: 1px solid #F7F3F5;
  padding: 20px;
  // margin: 10px 0;
  background-color: white;
}

.comment-votes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.time-since {
  color: #6A6869;
}

.this-comment {
  padding: 20px;
}

.comment-form {
  font-size: 16px;
  // how to make below width exactly the same as the comment boxes?
  width: 100%;
}

.comment-form-list button, .login-link {
  margin: 0;
  // margin-bottom: 10px;
  width: 20%;

}

.login-link {
  background-color: green;
    // background-color: #D74643;
    border: none;
    color: white;
    // padding: 8px 1px;
    width: 82%;
    height: 22%;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 3px;
    margin: 5px 10px;
}

.errors {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: crimson;
  list-style: none;
  font-size: 14px;
  // margin-bottom: 5px;
  width: 75%;
  text-align: center;
}
