// Place all the styles related to the Api::Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {
  width: 60%;
}

.comment-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.each-comment button i {
  color: #D74643;
}

.each-comment button {
  background-color: white;
  padding: 0px;
  margin: 0px;
  width: 0px;
}

.each-comment {
  border: 1px solid #6A6869;
  padding: 10px;
  margin: 10px 10px;
}

.comment-votes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.time-since {
  color: #6A6869;
}

.this-comment {
  padding: 20px;
}
