// Place all the styles related to the Api::Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {
  width: 70%;
}

.comment-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.each-comment button i {
  color: #D74643;
}

.each-comment button {
  background-color: white;
  padding: 0px;
  margin: 0px;
  width: 0px;

  // background-color: #D74643;
  // border: none;
  // color: white;
  // padding: 8px 0px;
  // width: 100px;
  // text-align: center;
  // text-decoration: none;
  // display: inline-block;
  // font-size: 14px;
  // margin: 5px 10px;
}

.each-comment {
  border: 1px solid black;
  padding: 10px;
  margin: 10px 10px;
}

.comment-votes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.time-since {
  color: #6A6869;
}
