i {
  margin: 10px 0px;
  color: white;
}

i:hover {
  color: #EDE8EA;
}

footer {
  background-color: #45484D;
  padding: 10px;
  color: #EDE8EA;
  background: linear-gradient(rgba(69,72,77,.3),#45484D);

}

.footer-logo {
  margin: 20px 0;
}

footer h2{
  margin-bottom: 10px 0;
}
