footer i {
  margin: 10px 0px;
  color: white;
}

i:hover {
  color: #BDB9BA;
}

footer {
  padding-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer a {
  padding: 6px;
}

.footer-logo {
  margin: 10px 0;
}

footer h2{
  margin-bottom: 10px 0;
}

#footer-light {
  background-color: #F7F3F5;
  color: #45484D;
}

#footer-light i {
  color: #D74643;
}

#footer-light i:hover {
  color: #7D2927
}

#footer-dark {
  background-color: #121010;
  color: white;
}
