i {
  margin: 10px 0px;
  color: white;
}

i:hover {
  color: #EDE8EA;
}

footer {
  // background-color: #121314;
  padding: 10px;
  // color: #EDE8EA;
  // background: linear-gradient(rgba(18,19,20,.3),#121314);
  background-color: transparent;
  // background: linear-gradient(rgba(18,16,16,.3),#121010);
}

.footer-logo {
  margin: 20px 0;
}

footer h2{
  margin-bottom: 10px 0;
}
