.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: .8;
  background-color: #45484D;
  padding: .5em 2em;
  color: white;
  height: 65px;
}

.logged-in {
  display: flex;
  align-items: center;
}

.logged-out {
  display: flex;
  align-items: center;
}
