.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 0;
  color: white;
  height: 50px;
  background: #121010;
  // position: fixed;
  width: 100%;
}

.logged-in {
  display: flex;
  align-items: center;
  width: 25%;
  justify-content: space-between;
}

.logged-out {
  display: flex;
  align-items: center;
}

.logged-in button {
  padding: 5px 10px;
  width: 30%;
}

.add-artwork {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}

.add-artwork h2 {
  padding-left: 5px;
}

.add-artwork .fa-lg {
  line-height: 1em;
}
