.slick-list {
  width: 90vw;
}

.slick-image {
  height: 35vh;
}

.slick-image:hover {
  transform: scale(1.05);
}

.slick-initialized slick-slider {
  min-height: 0;
  min-width: 0;
}

.slick-slide {
  padding: 12px;
}
