// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  padding: 20px;
  padding-top: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lgin-form-box a {
  justify-content: flex-start;
}
.login-form a {
  padding: 30px;
  color: #D74643;
}

.login-form-box a i {
  color: #D74643;
}

.login-form a:hover {
  text-decoration: underline;
}

.login-form input {
  margin-top: 10px;
  width: 85%;
  height: 30px;
}

.login-form input[type="submit"], .login-form button {
  width: 88%;
  height: 20%;
  font-size: 16px;
  border-radius: 3px;
}

.login-form input[type="submit"] {
  margin-top: 20px;
  margin-bottom: 2px;
}

.login-form label input {
  margin-left: 10px;
}

.form-title {
  margin-bottom: 40px;
  font-size: 18px;
}

.session-errors {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: crimson;
  list-style: none;
  font-size: 14px;
  margin-bottom: 5px;
  width: 75%;
  text-align: center;
}
