// Place all the styles related to the Api::Votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-vote i {
  color: #6A6869;
}

.up-vote i {
  color: green;
}

.down-vote i {
  color: red;
}

.votes, .action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}

.votes button {
  display: block;
  width: 22px;
  color: #6A6869;
}

.votes button:hover {
  color: #6A6869;
  transform: scale(1.1);
}

.votes div {
  display: block;
  width: 40px;
  text-align: center;
}

.total-score {
  padding: 10px
}
