body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0 auto;
  background: transparent;
}

.visualyze {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.visualyze-body {
  width: 80%;
  margin: 0 auto;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visualyze footer {
  text-align: center;
}
