body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0 auto;
}

html {
  width: 95%;
  margin: .5em 2em;
}

.visualyze-body {
  width: 80%;
  margin: 0 auto;
}

.visualyze footer {
  margin: 0 auto;
  text-align: center;
}
