body {
  // font-family: 'Roboto', sans-serif;
  font-family: 'News Cycle', sans-serif;
  font-size: 16px;
  margin: 0 auto;
  background: transparent;
}

.visualyze {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.visualyze-body {
  background-color: #121010;
  width: 100%;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding-top: 55px;
}

.index-container {
  flex: 1;
  width: 90vw;
  display: flex;
  align-items: center;
  // justify-content: center;
  // flex-direction: column;
}

.index-full-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

Slider {
  flex: 1;
}

.visualyze footer {
  text-align: center;
}
