// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  // background-image: url("http://res.cloudinary.com/virginia-chen/image/upload/v1500503763/museum-back_ubkwwy.jpg");
  background-color: #121010;
;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  height: 100%;
}

h1 {
  // font-family: 'Open Sans', sans-serif;
  font-family: 'News Cycle', sans-serif;
  font-size: 30px;
}

// h2 {
//   font-family: 'Open Sans', sans-serif;
//   font-size: 20px;
// }

h3 {
  // font-family: 'Open Sans', sans-serif;
  font-family: 'News Cycle', sans-serif;
  font-size: 18px;
}

button:hover, input[type="submit"]:hover {
  cursor: pointer;
  color: #EDE8EA;
}

button, input[type="submit"] {
  background-color: #D74643;
  border: none;
  color: white;
  padding: 8px 0px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 5px 10px;
}

input:focus {
  outline: none;
  font-size: 16px;
}

input {
  font-size: 16px;
  padding-left: 5px;
}

input[type="submit"]:focus {
  outline: none;
  font-size: 16px;
}

a {
  padding: 8px;
  color: white;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #EDE8EA;
}

li {
  list-style: none;
}
